/* Basic layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.dark {
    background-color: rgb(24, 16, 34);
    color: white;
}
.light {
    background-color: skyblue;
    color: black;
}
body {
    background-color: skyblue;
    color: black;
}


/* Nav Bar */

.navbar {
    height: 60px;
    background-color: purple;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.nav-spacer {
    width: 100px;
}
h1 {
    color: white;
    text-align: center;
    flex-grow: 1;
}
#modeBtn {
    background-color: blueviolet;
    color: whitesmoke;
    width: 100px;
    padding: 6px 10px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 4px;
}
#modeBtn:hover {
    border-color: whitesmoke;
}


/* Main Content */
